
Packages/Extensions/
Packages/edelkroneAPI/
edelkroneTest.xcodeproj/xcuserdata/spirou.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
edelkroneTest.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
